/**
 * This CSS file will be inlined by the `createEmail` function when run on the
 * server while explicitally required when running in development mode by
 * Webpack.
 *
 * You should include here the styles that can't be inlined, such as media
 * queries
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700&subset=latin-ext');

*{
  font-family: Open Sans;
  font-weight: 300;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background: #0678D5;
}

td {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 650px) {

  .title-heading {
    font-size: 18px !important;
    text-align: center !important;
  }

}

